/*
  Name: Parren Chen
  Date: May 16, 2019
  Section:CSE 154 AL
  This is the style.css page for both my index.html page that
  organize their same overall style.


*/

@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: 'Courgette','cursive';
}

button{
  width: 100px;
  padding: 5px;
  font-size: 20pt;
  border-radius: 15px;
  border: 3px solid black;
}

button, body{
  text-align: center;
}

#new{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#newPic{
  margin: 3%;
}

img{
  width: 50%;
  height: auto;
}

.hidden{
  display: none;
}

div{
  font-size: 18pt;
}
